@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color: #0f172a;
    --bold-font-color: #e2e8f0df;
    --normal-font-color: #828d9fdf;
    --highlited-bg-color: #54d3d4;
    --highlited-bold-font-color: #341560df;
    --highlited-normal-font-color: #ffffffdf;
    --external-link-font-color: #8254d2;
    --external-link-bg-color: #3b216582;
    --experience-languages-bg-color: #401c72c1;
}

::selection {
    background: var(--highlited-bg-color);
    color: var(--highlited-normal-font-color);
}

* {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: var(--normal-font-color);
    background-color: var(--bg-color);
}

ul {
    list-style-type: none;
}

h1 {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.7rem;
}

a {
    text-decoration: none;
    color: var(--normal-font-color);
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 0.8rem;
}

p {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

/**Bold Text*/
.bold_text {
    color: var(--bold-font-color);
}

.bold_text::selection {
    color: var(--highlited-bold-font-color);
}


/**Blob*/
.blob {
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 450px;
    background: radial-gradient(circle, rgba(255, 0, 150, 0.8), rgba(0, 204, 255, 0.6));
    border-radius: 50%;
    filter: blur(200px);
    pointer-events: none;
    z-index: -1;
    transition: all 0.1s ease-out;
    will-change: left, top;
}


/** Main content*/
.main {
    display: flex;
    flex-direction: row;
    margin: 5rem auto;
    width: 88%;
}

.main_left_side {
    position: fixed;
    flex-shrink: 0;
}

.main_left_side p {
    width: 55%;
}

.main_right_side {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 50%;
}

.right_side_container {
    margin-top: 10rem;
}

#about {
    margin-top: -0px;
}


/**Section Links*/
.section_links {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    gap: 2vh;
}

.section_link {
    display: flex;
    gap: 1rem;
    transition: all 0.1s ease-in-out;
    align-items: center;
}

.section_link:hover, 
.section_link.active {
    color: var(--bold-font-color);
}


.section_link_line {
    width: 2rem;
    height: 2px;
    background-color: var(--normal-font-color);
    transition: all 0.2s ease-in-out;
}

.section_link.active .section_link_line, 
.section_link:hover .section_link_line {
    width: 4rem;
    background-color: var(--bold-font-color);
}


/**Contact Links*/
.contact_links {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 8rem 0 0 0;
    padding: 0;
}

.contact_links a {
    font-size: 1.8rem;
    transition: all 0.2s ease-in-out;
}

.contact_links a:hover {
    color: var(--bold-font-color);
}


/**Each Sectins's Header*/
.header {
    display: none;
}


/**Experience*/
.experience_container a{
    display: flex;
    flex-direction: row;
    gap: 6rem;
    padding: 30px 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 1rem;
}

.experience_container a:hover {
    background-color: var(--external-link-bg-color);
    backdrop-filter: blur(30px);
}

.experience_container a:hover .experience_name {
    color: var(--external-link-font-color);
}

.time_span {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
    flex-shrink: 0; 
}

.about_experience div{
    margin-bottom: 1rem
}

.experience_name {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
    transition: all 0.3s ease-in-out;
}

.experience_description p{
    font-size: 1rem;
}

.experience_languages {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.experience_languages h3 {
    color: var(--external-link-font-color);
    background-color: var(--experience-languages-bg-color);
    padding: 7px 20px;
    border-radius: 15px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 0.9rem;
    margin: 0;
}


/**Projects*/
.projects_container a{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 30px 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 0.5rem;
}

.projects_container a:hover {
    background-color: var(--external-link-bg-color);
    backdrop-filter: blur(30px);
}

.projects_container a:hover .projects_name {
    color: var(--external-link-font-color);
}

.projects_name {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
    transition: all 0.3s ease-in-out;
}

.projects_description p{
    font-size: 1.2rem;
}

.projects_languages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.projects_languages h3 {
    color: var(--external-link-font-color);
    background-color: var(--experience-languages-bg-color);
    padding: 7px 20px;
    border-radius: 15px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 0.9rem;
    margin: 0;
}


/**Games*/
.games_container a{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 30px 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 1rem;
    align-items: center;
}

.games_container a:hover {
    background-color: var(--external-link-bg-color);
    backdrop-filter: blur(30px);
}

.games_container a:hover .experience_name {
    color: var(--external-link-font-color);
}

.games_logo {
    flex-shrink: 0;
}

.games_logo img {
    width: 150px;
    height: auto;
    border-radius: 5px;
}

.about_games div{
    margin-bottom: 1rem
}

.games_name {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
    transition: all 0.3s ease-in-out;
}

.games_description p{
    font-size: 1.2rem;
}

.games_languages {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.games_languages h3 {
    color: var(--external-link-font-color);
    background-color: var(--experience-languages-bg-color);
    padding: 7px 20px;
    border-radius: 15px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 0.9rem;
    margin: 0;
}


/**Smaller screen view*/
@media (max-width: 985px) {
    /** Main content*/
    .main {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .main_left_side {
        position: relative;
        width: 100%;
        margin-bottom: 10rem;
    }

    .main_right_side {
        width: 100%;
        margin: 0;
    }

    /**Section Links*/
    .section_links {
        display:  none;
    }


    /**Contact Links*/
    .contact_links {
        margin-top: 1.2rem;
    }


    /**Each Sectins's Header*/
    .header {
        display: flex;
    }


    /**Navbar*/
    .navbar {
        position: fixed;
        top: -52px;
        left: 0;
        width: 100%;
        height: 2rem;
        background: rgba(255, 255, 255, 0);
        backdrop-filter: blur(10px);
        z-index: 1000;
        padding-top: 2%;
        padding-left: 6%;
        font-family: "Inter", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 1.7rem;
    }
}