@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monomakh&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color: #0f172a;
    --bold-font-color: #e2e8f0df;
    --normal-font-color: #828d9fdf;
    --highlited-bg-color: #9654d4;
    --highlited-bold-font-color: #341560df;
    --highlited-normal-font-color: #ffffffdf;
    --external-link-font-color: #8254d2;
    --external-link-bg-color: #3b216582;
    --experience-languages-bg-color: #401c72c1;
    --popup-bg-color: #361e5ca8;
    --pupup-text-bg-color: #53269ba5;
}

html {
    -webkit-font-smoothing: antialiased;
    animation: ease-in-out;
    -webkit-animation: ease-in-out;
}

::selection {
    background: var(--highlited-bg-color);
    color: var(--highlited-normal-font-color);
}

* {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: var(--normal-font-color);
    background-color: var(--bg-color);
}

ul {
    list-style-type: none;
}

h1 {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.7rem;
}

a {
    text-decoration: none;
    color: var(--normal-font-color);
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 0.8rem;
}

p {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

/**Bold Text*/
.bold_text {
    color: var(--bold-font-color);
}

.bold_text::selection {
    color: var(--highlited-bold-font-color);
}


/**Loader*/
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

.blue, .white {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blue {
    z-index: 2;
    background-color: var(--bg-color);
}

.white {
    z-index: 1;
    background-color: white;
}

.text-wrap {
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: "Monomakh", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 5rem;
    z-index: 3;
}

.text {
    will-change: transform;
    animation: textAnimation 2s alternate infinite;
    animation-delay: 0ms;
}

.text-wrap span {
    will-change: transform;
    display: inline-block;
    animation: dotAnimation 2s infinite alternate;
    animation-delay: 0ms;
}

@keyframes textAnimation {
    from { transform: translateY(-10px); }
    to { transform: translateY(0px); }
}

@keyframes dotAnimation {
    from { transform: translateY(0px); }
    to { transform: translateY(-5px); }
}


/**Blob*/
.blob {
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 450px;
    background: radial-gradient(circle, rgba(255, 0, 150, 0.8), rgba(0, 204, 255, 0.6));
    border-radius: 50%;
    backdrop-filter: blur(200px);
    filter: blur(200px);
    -webkit-filter: blur(200px);
    pointer-events: none;
    z-index: -1;
    transition: all 0.1s ease-out;
    will-change: left, top;
    opacity: 0.7;
}


/** Main content*/
.main {
    display: flex;
    flex-direction: row;
    margin: 5rem auto;
    width: 93%;
}

.main_left_side {
    position: fixed;
    flex-shrink: 0;
}

.main_left_side p {
    width: 55%;
}

.main_right_side {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 50%;
}

.right_side_container {
    margin-top: 10rem;
}

#about {
    margin-top: -0px;
}


/**Section Links*/
.section_links {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    gap: 2vh;
}

.section_link {
    display: flex;
    gap: 1rem;
    transition: all 0.1s ease-in-out;
    align-items: center;
}

.section_link:hover, 
.section_link.active {
    color: var(--bold-font-color);
}


.section_link_line {
    width: 2rem;
    height: 2px;
    background-color: var(--normal-font-color);
    transition: all 0.2s ease-in-out;
}

.section_link.active .section_link_line, 
.section_link:hover .section_link_line {
    width: 4rem;
    background-color: var(--bold-font-color);
}


/**Contact Links*/
.contact_links {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 8rem 0 0 0;
    padding: 0;
}

.contact_links a {
    font-size: 1.8rem;
    transition: all 0.2s ease-in-out;
}

.contact_links a:hover {
    color: var(--bold-font-color);
}


/**Each Sectins's Header*/
#header {
    display: none;
    width: 100%;
    left: 0;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    height: 4rem;
    align-items: center;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.1rem;
    will-change: transform;
    padding-left: 0.9rem;
}


/**Experience*/
.experiences {
    padding: 1.4rem;
    padding-left: 0.8rem;
    padding-top: .8rem;
}

.experience_container a{
    display: flex;
    flex-direction: row;
    padding: 20px 15px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.experience_container a:hover {
    background-color: var(--external-link-bg-color);
    backdrop-filter: blur(30px);
    opacity: 1;
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.3);
}

.experience_container a:hover .experience_name {
    color: var(--external-link-font-color);
}

.experience_container a:hover .arrow_head {
    transform: translateX(7px);
}

.experience_container a:hover .arrow_body {
    opacity: 1;
    transform: scaleX(3);
}

.time_span {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 0.7rem;
    overflow-x: visible;
    width: 50rem;
    margin-top: 0.7rem;
}

.about_experience div {
    margin-bottom: 1rem;
}

.experience_name {
    display: flex;
    align-items: center;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
    transition: all 0.3s ease-in-out;
}

.experience_description p{
    font-size: 0.9rem;
    max-width: 160rem;;
}

.experience_languages {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.experience_languages h3 {
    color: var(--external-link-font-color);
    background-color: var(--experience-languages-bg-color);
    padding: 7px 20px;
    border-radius: 15px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 0.9rem;
    margin: 0;
}


/**Projects*/
.projects {
    padding: 1.4rem;
    padding-left: 0.8rem;
}

.projects_container a{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 30px 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 0.5rem;
}

.projects_container a:hover {
    background-color: var(--external-link-bg-color);
    backdrop-filter: blur(30px);
    opacity: 1;
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.3);
}

.projects_container a:hover .projects_name {
    color: var(--external-link-font-color);
}

.projects_name {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
    transition: all 0.3s ease-in-out;
}

.projects_description p{
    font-size: 1.2rem;
}

.projects_languages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.projects_languages h3 {
    color: var(--external-link-font-color);
    background-color: var(--experience-languages-bg-color);
    padding: 7px 20px;
    border-radius: 15px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 0.9rem;
    margin: 0;
}


/**Games*/
.games {
    padding: 1.4rem;
    padding-left: 0.8rem;
}

.games_container a{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 30px 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 1rem;
    align-items: center;
}

.games_container a:hover {
    background-color: var(--external-link-bg-color);
    backdrop-filter: blur(30px);
    opacity: 1;
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.3);
}

.games_container a:hover .experience_name {
    color: var(--external-link-font-color);
}

.games_logo {
    flex-shrink: 0;
    width: 150px;
    height: 150px;
}

.games_logo div{
    background-image: url("Assets/Dodge Till Infinity Square.png");
    background-size: contain;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.about_games div{
    margin-bottom: 1rem
}

.games_name {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
    transition: all 0.3s ease-in-out;
}

.games_description p{
    font-size: 1.2rem;
}

.games_languages {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.games_languages h3 {
    color: var(--external-link-font-color);
    background-color: var(--experience-languages-bg-color);
    padding: 7px 20px;
    border-radius: 15px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 0.9rem;
    margin: 0;
}

/**Renders*/
.renders {
    display: none;
}

.renders_container {
    display: flex;
    flex-direction: column;
}

.renders_container a{
    display: flex;
    flex-direction: column;
}

.renders_container p {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
    margin-bottom: 1rem
}

.tools {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.tools h3 {
    color: var(--external-link-font-color);
    background-color: var(--experience-languages-bg-color);
    padding: 7px 20px;
    border-radius: 15px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 0.9rem;
    margin: 0;
    padding: 7px 20px;
}


/**3D Renders*/

/**Navbar*/
.renders_navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 2rem;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    z-index: 1000;
    padding: 1% 2%;
    box-shadow: 0px -3px 9px 20px #0f172aa3;
}

.renders_navbar a {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
    color: var(--bold-font-color);
    transition: all 0.3s ease-in-out;
}

.renders_home {
    margin-right: 3.5rem;
}

.renders_home:hover {
    color: var(--external-link-font-color);
}

/**Gallery*/
.renders_gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    justify-content: space-around;
    width: calc(100% - 40px);
    padding: 0 20px;
    margin: 5rem auto;
}

.render {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    aspect-ratio: 1/1;
}

.content{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--popup-bg-color);
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    backdrop-filter: blur(2px);
}

.overlay span {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
    color: var(--bold-font-color);
    background-color: var(--pupup-text-bg-color);
    border-radius: 20px;
    padding: 0.7rem 1.8rem;
}

.render:hover .overlay {
    opacity: 1;
}

.popup {
    z-index: 10000;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(26, 5, 41, 0.397);
    backdrop-filter: blur(8px);
    justify-content: center;
    align-items: center;
}

.popup_content {
    width: 100%;
    height: 100dvh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.popup_img_container, .popup_vid_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80dvh;
}

.popup video {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.popup img {
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;    
    color: white;
    cursor: pointer;
    z-index: 10;
    font-size: 3rem;
}

.left_arrow, .right_arrow {
    padding: 0 1rem;
    font-size: 5rem;
    cursor: pointer;
    color: var(--bold-font-color);
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

.left_arrow:hover, .right_arrow:hover {
    opacity: 1.5;
    color: var(--external-link-font-color);
}


/**Smaller screen view*/
@media (max-width: 985px) {
    .blob {
        display: none;
    }

    /** Main content*/
    .main {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .main_left_side {
        position: relative;
        width: 100%;
        margin-bottom: 10rem;
    }
    
    .main_left_side p {
        width: 100%;
    }

    .main_right_side {
        width: 100%;
        margin: 0;
    }

    /**Section Links*/
    .section_links {
        display:  none;
    }


    /**Contact Links*/
    .contact_links {
        margin-top: 1.2rem;
    }

    /**Prjects*/
    .projects {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 2rem;
    }

    .projects a {
        padding: 0;
    }


    /**Experiences*/
    .experiences {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 2rem;
    }

    .experience_container a {
        flex-direction: column;
        padding: 0;
    }


    /**Games*/
    .games_container a {
        flex-direction: column;
        padding: 0;
    }

    .games {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 2rem;
    }

    .games_logo {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }

    .games_logo div {
        justify-self: center;
        align-self: center;
        background-image: url("Assets/Dodge Till Infinity Rectangle.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }

    .renders_navbar {
        padding-top: 4%;
    }

    .overlay {
        display: none;
    }

    .renders_navbar a {
        font-size: 1rem;
    }

    .render {
        aspect-ratio: 9/16;
    }


    /**Each Sectins's Header*/
    #header {
        display: flex;
        position: fixed;
    }

    .renders {
        display: flex;
    }
}